container_commands:
  enable_websockets:
    command: |
      sed -i '/\s*proxy_set_header\s*Connection/c \
              proxy_set_header Upgrade $http_upgrade;\
              proxy_set_header Connection "upgrade";\
      ' /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf
  ulimit:
    command: |
      sudo /bin/sed -i 's/#<domain>      <type>  <item>         <value>/* soft nofile 20000\
      * hard nofile 20000/g' /etc/security/limits.conf
  worker-connections:
    command: "/bin/sed -i 's/worker_connections  1024/worker_connections  8192/g' /tmp/deployment/config/#etc#nginx#nginx.conf"
